.eark__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem 4rem;
}

.eark__navbar-links {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.eark__navbar-links_logo {
    margin-right: 2rem;
}

.eark__navbar-links_logo img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 1.9px 1.9px 2.2px rgba(0, 0, 0, 0.07),
    4.7px 4.7px 5.3px rgba(0, 0, 0, 0.05), 8.8px 8.8px 10px rgba(0, 0, 0, 0.042),
    15.6px 15.6px 17.9px rgba(0, 0, 0, 0.035),
    29.2px 29.2px 33.4px rgba(0, 0, 0, 0.028),
    70px 70px 80px rgba(0, 0, 0, 0.02),
    inset -1px -1px 3px -1px rgba(0, 0, 0, 0.3), 
    inset 3px 4px 10px 0px rgba(0, 0, 0, 0.3);   

}

.eark__navbar-links_container {
    display: flex;
    flex-direction: row;
}




.eark__navbar-links_container p a
 {
    text-decoration: none;
    color: black;
    font-family: var(--font-satoshi);

    font-weight: 700px;
    font-size: 20px;
    line-height: 27px;
    text-transform: capitalize;

    margin: 0 .5rem;
    cursor: pointer;
}
.eark__navbar-menu {
    margin-left: 1rem;

    display: none;
    position: relative;
}

.eark__navbar-menu svg {
    background-color: var(--color-primary2);
    cursor: pointer;

    transform: scale(1.2); 
    border-radius: 8px;
    padding: 3px;
    width: 25px;
    height: 25px;
}

.eark__navbar-menu_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    
    text-align: center;
    /* background:; */
    padding: 1rem;
    position: absolute;
    right: 0;
    top: 40px;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0, 0,0.2);
}

.eark__navbar-menu_container p {
    margin: 1rem 0;
}

.eark__navbar-links a,
.eark__navbar-menu_container-links a {
  text-decoration: none;
  color: black; 
  padding: 10px 20px;
  display: inline-block;
  transition: color 0.5s, background-color 0.3s; 
  position: relative; 
}

.eark__navbar-links a.active,
.eark__navbar-menu_container-links a.active {
  color: var(--color-primary1); 
}

/* Styles for navbar links container (for both desktop and mobile) */
.eark__navbar-links_container {
  display: flex;
  align-items: center;
  /* gap: 10px;  */
}


.eark__navbar-menu_container {
  display: none; 
}


.eark__navbar-menu_container.scale-up-center {
  display: block; 
}

.eark__navbar-menu_container-links p {
  margin: 0;
}

@media  screen and (max-width:970px) {
    .eark__navbar-links_container p a{
        font-size: 16px;
        padding:  1rem 0.5rem;
        gap: 80px; 

    }
    
}

@media screen and (max-width: 760px) {

    .eark__navbar-links_logo  img{
        width: 70px;
        height: 70px;

    }
    .eark__navbar{
        padding: 2rem;
    }

    .eark__navbar-links_container {
        display: none;
    }


    .eark__navbar-menu {
        display: flex;
    }
}

@media screen and (max-width: 550px) {
    .eark__navbar-menu svg {
        width: 21px;
        height: 21px;


    }

    .eark__navbar-links_logo  img{
        width: 50px;
        height: 50px;

    }
    .eark__navbar {
        padding: 1.6rem;
    }

    .eark__navbar-menu_container {
        top: 20px;
    }


}
