.eark__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    z-index: 100;
        position: relative; /* Add this if not present */
        z-index: 1000; /* Ensure it's not conflicting with other elements */
    
}

.eark__navbar-links {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.eark__navbar-links_logo {
    margin-right: 2rem;
}

.eark__navbar-links_logo img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 1.9px 1.9px 2.2px rgba(0, 0, 0, 0.07),
    4.7px 4.7px 5.3px rgba(0, 0, 0, 0.05), 8.8px 8.8px 10px rgba(0, 0, 0, 0.042),
    15.6px 15.6px 17.9px rgba(0, 0, 0, 0.035),
    29.2px 29.2px 33.4px rgba(0, 0, 0, 0.028),
    70px 70px 80px rgba(0, 0, 0, 0.02),
    inset -1px -1px 3px -1px rgba(0, 0, 0, 0.3), 
    inset 3px 4px 10px 0px rgba(0, 0, 0, 0.3);   

}

.eark__navbar-links_container {
    display: flex;
    flex-direction: row;
}




.eark__navbar-links_container p a
 {
    z-index: 100;
    text-decoration: none;
    color: black;
    font-family: var(--font-satoshi);

    font-weight: 700px;
    font-size: 20px;
    line-height: 27px;
    text-transform: capitalize;

    margin: 0 .5rem;
    cursor: pointer;
}
.eark__navbar-menu {
    margin-left: 1rem;
    z-index: 100;
    display: none;
    position: relative;
}

.eark__navbar-menu svg {
    cursor: pointer;
}

.eark__navbar-menu_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    text-align: center;
    padding: 1rem;
    position: absolute;
    z-index: 9999; /* Increased z-index to be above other elements */
    right: 0;
    top: 40px;
    margin-top: 1rem;
    min-width: 310px;
    height: 50vh;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0, 0,0.2);
    background-color: white; /* Ensure the background is not transparent */
}
.eark__navbar-menu {
    z-index: 10000; /* Ensure the menu icon has a high enough z-index */
}

.eark__navbar-menu_container p {
    margin: 1rem 0;
    z-index: 100;
}

.eark__navbar-links a,
.eark__navbar-menu_container-links a {
    z-index: 100;
  text-decoration: none;
  color: black; 
  padding: 10px 20px;
  display: inline-block;
  transition: color 0.5s, background-color 0.3s; 
  position: relative; 
}

.eark__navbar-links a.active,
.eark__navbar-menu_container-links a.active {
  color: var(--color-primary1); 
}

/* Styles for navbar links container (for both desktop and mobile) */
.eark__navbar-links_container {
    z-index: 1000;
  display: flex;
  align-items: center;
  /* gap: 10px;  */
}


.eark__navbar-menu_container {
    z-index: 1000;
  /* display: none;  */
}


.eark__navbar-menu_container.scale-up-center {
  display: block; 
  
  z-index: 1000;
  position:absolute;
}

.eark__navbar-menu_container-links p {

  margin: 0;
}
@media  screen and (max-width:970px) {
    .eark__navbar-links_container p a{
        font-size: 16px;
        padding:  1rem 0.5rem;
        gap: 80px;
    }
    
}

@media screen and (max-width: 700px) {

    .eark__navbar-links_logo  img{
        width: 70px;
        height: 70px;

    }
    .eark__navbar{
        padding: 2rem;
    }

    .eark__navbar-links_container {
        display: none;
    }


    .eark__navbar-menu {
        display: flex;
        z-index: 1000;
    }
}

@media screen and (max-width: 550px) {

    .eark__navbar-links_logo  img{
        width: 90px;
        height: 90px;

    }
    .eark__navbar {
        padding: 1.6rem;
    }

    .eark__navbar-menu_container {
        font-size: 22px;
        top: 20px;
        z-index: 10000;
        
    }
    


}
