@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@700&display=swap");
.Gallery_whole_container {
    padding:  0 58px;
    background-color: white;
    margin:60px;
    
}
.card_one{
    background-color: #ff5722;
}

/* .feedback_heading {
    margin-bottom: 20px;
    padding-top: 20px;
    margin:10px;
} */

.card_two, .card_one, .card_three, 
.card_four, .card_eight, .card_five, 
.card_six,.card_seven {
    position: relative;
    background-color: white;
    border-radius: 30px;
    box-shadow : 1.9px 1.9px 2.2px rgba(0, 0, 0, 0.07),
    4.7px 4.7px 5.3px rgba(0, 0, 0, 0.05), 8.8px 8.8px 10px rgba(0, 0, 0, 0.042),
    15.6px 15.6px 17.9px rgba(0, 0, 0, 0.035),
    29.2px 29.2px 33.4px rgba(0, 0, 0, 0.028),
    70px 70px 80px rgba(0, 0, 0, 0.02);
    overflow: hidden;
}

.Gallery_top_image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.Gallery_image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.card_two:hover .Gallery_image,
.card_one:hover .Gallery_image,
.card_three:hover .Gallery_image,
.card_four:hover .Gallery_image,
.card_eight:hover .Gallery_image,
.card_five:hover .Gallery_image,
.card_six:hover .Gallery_image,
.card_seven:hover .Gallery_image
 {
    transform: scale(1.1); /* Zoom the image by 10% */
}
.Gallery_heading {
    text-align: center; /* Center the heading container */
    margin-bottom: 50px;
}

.Gallery_heading h1 {
    color: #006b6b; /* Similar text color */
    font-family: 'Satoshi'; /* Use the Satoshi font */
    font-weight: 700; /* Bold weight for heading */
    font-size: 45px;
    margin-bottom: 20px; /* Space between heading and underline */
    position: relative;
    display: inline-block;
}

.Gallery_heading h1::after {
    content: '';
    position: absolute;
    left: 50%; /* Start at the center */
    transform: translateX(-50%); /* Adjust to center the underline */
    bottom: -10px; /* Adjust this value to move the line closer or further from the text */
    height: 5px; /* Thickness of the underline */
    background-color: #ffb300; /* Color of the underline */
    width: 100%; /* Adjust the width of the underline */
}



  


.Gallery_grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(13, 1fr);
   
    /* grid-template-rows: repeat(4, 1fr); */
}

.card_two{
    grid-column: span 3;
    grid-row: span 24;
}
.card_one{
    grid-column: span 4;
    grid-row: span 24;
}

.card_three{
    grid-column: span 3;
    grid-row: span 20;
}

.card_four{
    grid-column: span 3;
    grid-row: span 25;
}

.card_eight{
    grid-column: span 3;
    grid-row: span 30;
}

.card_six{
    grid-column: span 4;
    grid-row: span 26;
}

.card_five{
    grid-column: span 3;
    grid-row: span 24;
}

.card_seven{
   grid-column: span 3;
    grid-row: span 25;
}


  

@media(max-width: 800px) {

    .Gallery_grid {
        display: flex;
        flex-direction: column;
       
        gap: 20px;
    }

    .card_two, .card_one, .card_three, 
    .card_four, .card_eight, .card_six, 
    .card_five, .card_seven{
        grid-column: span 9;
        grid-row: unset;
        width: 100%;
    }
  

}
@media (min-width: 501px) and (max-width: 800px) {
    /* .card_two,
    .card_one,
    .card_three,
    .card_four,
    .card_eight,
    .card_six,
    .card_five,
    .card_seven {
        width: 400px;
        height: 350px; 
    } */
    .Gallery_grid {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(10, 1fr);
       
    }
     .card_one{
        grid-column: span 5;
    grid-row: span 15;
     }
  .card_two{
    grid-column: span 5;
    grid-row: span 17;
  }
  .card_three{
    grid-column: span 5;
    grid-row: span 18;
  }
  .card_four{
    grid-column: span 5;
    grid-row: span 17;
  }
  .card_eight{
    grid-column: span 5;
    grid-row: span 24;
  }
  .card_five{
    grid-column: span 5;
    grid-row: span 20;
  }
  .card_six{
    grid-column: span 5;
    grid-row: span 24;
  }
  .card_seven{
    grid-column: span 5;
    grid-row: span 20;
  }
  .Gallery_heading h1{
    font-size: 35px;
  }
}
 @media (min-width: 320px) and (max-width: 499px) {
    .card_two,
    .card_one,
    .card_three,
    .card_four,
    .card_eight,
    .card_six,
    .card_five,
    .card_seven {
        border-radius: 15px;
        width: 300px; 
        height:200px;
        box-sizing: border-box; 
    }
 
}
@media (min-width: 320px) and (max-width: 500px) {
    .Gallery_whole_container {
        padding: 10px;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .Gallery_grid {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        width: 100%;
    }
    .Gallery_heading h1{
        font-size: 25px;
      }
} 