@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@700&display=swap");

/* General Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* About Section */
.eark__abt_main_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.eark__abt_card_holder {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 160px 80px;
}

.eark__abt_card_heading h2 {
  margin: 70px 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-family: var(--font-lato);
  color: var(--color-primary2);
}

.eark__abt_card_sml,
.eark__abt_card_big {
  background-color: #f3f3f3;
  border-radius: 33px;
}

.eark__abt_card_sml {
  height: 380px;
  width: 506px;
}

.eark__abt_card_sml p,
.eark__abt_card_big p {
  text-align: justify;
  text-indent: 40px;
  font-family: var(--font-lato);
  font-size: 20px;
  line-height: 1.8rem;
  margin: 0 36px;
}

.eark__abt_card_big li {
  text-align: justify;
  font-family: var(--font-lato);
  font-size: 20px;
  line-height: 1.8rem;
  margin: 0 36px;
}

.eark__abt_card_big {
  width: 714px;
  height: 380px;
}

.eark__abt_scal_container {
  position: absolute;
  margin-top: 20px;
  width: 700px;
  height: 1200px;
  z-index: 1;
}

.circle-container {
  position: absolute;
  left: -8rem;
  top: 36.5rem;
  background-color: var(--color-primary1);
  width: 202px;
  height: 202px;
  border-radius: 50%;
  transition: all 1.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.circle-container.expanded {
  width: 1440px;
  height: 602px;
  border-radius: 35%;
  left: -8rem;
}

.eark__abt_video-container {
  position: relative;
  width: 570px;
  height: 350px;
  display: flex;
  justify-content: right;
  overflow: visible;
}

.eark__abt_video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}

.abt__custom-list {
  list-style-type: none;
}

.abt__custom-list li::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: var(--color-primary1);
  border-radius: 50%;
  margin-right: 10px;
}

#abt__card_hgt {
  margin: 0;
  color: var(--color-primary1);
  font-size: 20px;
  font-family: var(--font-lato);
  text-align: justify;
}

.abt__school-head {
  padding: 80px 0px;
  display: flex;
  flex-direction: column;
  width: 600px;
  height: auto;
  font-family: var(--font-satoshi);
  font-size: 30px;
  font-weight: 200;
  line-height: 2.5rem;
  text-align: center;
}

#abt__aut {
  color: #FCBB00;
  font-family: var(--font-satoshi);
  font-weight: bolder;
}

/* Gallery Section */
.Gallery_whole_container {
  padding: 0 58px;
  background-color: white;
  margin: 60px;
}

.card_one {
  background-color: #ff5722;
}

.card_two, .card_one, .card_three, 
.card_four, .card_eight, .card_five, 
.card_six, .card_seven {
  position: relative;
  background-color: white;
  border-radius: 30px;
  box-shadow: 1.9px 1.9px 2.2px rgba(0, 0, 0, 0.07),
    4.7px 4.7px 5.3px rgba(0, 0, 0, 0.05),
    8.8px 8.8px 10px rgba(0, 0, 0, 0.042),
    15.6px 15.6px 17.9px rgba(0, 0, 0, 0.035),
    29.2px 29.2px 33.4px rgba(0, 0, 0, 0.028),
    70px 70px 80px rgba(0, 0, 0, 0.02);
  overflow: hidden;
}

.Gallery_top_image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.Gallery_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card_two:hover .Gallery_image,
.card_one:hover .Gallery_image,
.card_three:hover .Gallery_image,
.card_four:hover .Gallery_image,
.card_eight:hover .Gallery_image,
.card_five:hover .Gallery_image,
.card_six:hover .Gallery_image,
.card_seven:hover .Gallery_image {
  transform: scale(1.1);
  transition: all 1.5s;
}

.Gallery_heading {
  text-align: center;
  margin-bottom: 50px;
}

.Gallery_heading h1 {
  color: #006b6b;
  font-family: 'Satoshi';
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
}

.Gallery_heading h1::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  height: 5px;
  background-color: #ffb300;
  width: 100%;
}

/* Grid layout */
.Gallery_grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(13, 1fr);
}

.card_two {
  grid-column: span 3;
  grid-row: span 24;
}

.card_one {
  grid-column: span 4;
  grid-row: span 24;
}

.card_three {
  grid-column: span 3;
  grid-row: span 20;
}

.card_four {
  grid-column: span 3;
  grid-row: span 25;
}

.card_eight {
  grid-column: span 3;
  grid-row: span 30;
}

.card_six {
  grid-column: span 4;
  grid-row: span 26;
}

.card_five {
  grid-column: span 3;
  grid-row: span 24;
}

.card_seven {
  grid-column: span 3;
  grid-row: span 25;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .circle-container.expanded {
    width: 300px;
    height: 200px;
  }
  
  .eark__abt_video {
    width: 100px;
  }
}
/* 
@media screen and (max-width: 480px) {
  .circle-container.expanded {
    width: 200px
  } */
   